{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Units</title>
</head>
<body>
    <a href="{% url 'home' %}">Go to Home Page</a>
    <h1>Units</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Unit ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
            {% for unit in units %}
                <tr>
                    <td>{{ unit.unit_id }}</td>
                    <td>{{ unit.title }}</td>
                    <td>{{ unit.description }}</td>
                    <td>{{ unit.grade.title }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>